google.generativeai
strip_markdown
pyttsx3
streamlit
pymongo
google-cloud-texttospeech
pygame
langdetect
google-cloud-storage
openai
streamlit_lottie
mysql.connector
streamlit_lottie
streamlit_authenticator